doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Pizza Order Form
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css")
    link(rel='stylesheet' href='./style.css')
  body
    nav#navbar.navbar.navbar-light.bg-light.fixed-top
      a.navbar-brand(href='#')
        img.mr-2(src='https://image.flaticon.com/icons/png/512/819/819861.png' width='30px')
        | The Pizza Palace
      a.nav-link#pannier
        i.bi.bi-cart3.mr-2
        span#cart-num 0

    main.container-fluid
      h1#title.text-center.my-4 Order your pizza
      
      div#pizza-added.text-center.alert.alert-primary.alert-dismissible.mb-3(role='alert')
        span The pizza has been added to your order.
        button#alarm-close.close(type='button')
          span &times;

      p#description Choose your pizza and any additional ingredients below:
      
      form#order-form
        div.form-row.justify-content-center.form-group
          p.col-12.h3 Select your pizza
          each pizza in ['mozzarella', 'margarita', '4-cheeses', 'full-on', 'vegetarian', 'meat-lovers', 'pepperoni', 'goat']
            div.square-container.col-6.col-sm-4
              div.pizza-tile
                input.form-check(id=`pizza_${pizza}` type='radio' name='pizza-type' value=`pizza_${pizza}` checked=(pizza == 'mozzarella' ? true : false))
                label.form-label(for=`pizza_${pizza}`)
                  img(src='https://bellasunluci.com/public/uploads/recipes/thumbnail-mediterranean-flatbread.jpg')
                  div
                    i.bi.bi-cart.mr-1
                    - let pizza_text = pizza.replace('-', ' ').replace(/\b\w/gi,(c) => c.toUpperCase());
                    span= pizza_text
              
        div.form-group
          label.form-label(for='size') Select the size of the pizza:
          select#size.form-control.custom-select
            each size in ['small', 'medium', 'large', 'familiar']
              - let size_text = size.replace(/\b\w/g, (c) => c.toUpperCase())
              option(value=size selected=(size == 'large' ? true : false))= size_text
        
        div.form-group
          p Choose any extra ingridients:
          each ing in ['extra-cheese', 'pepperoni', 'meat', 'chorizo', 'olives', 'onions']
            div.custom-control.custom-checkbox.custom-control-inline
              input.custom-control-input(type='checkbox' value=`ing_${ing}` name=`ingredient` id=`ing_${ing}`)
              - let ing_text = ing.replace('-', ' ').replace(/\b\w/gi,(c) => c.toUpperCase());
              label.custom-control-label(for=`ing_${ing}`)= ing_text
          
        div.form-group
          p Leave any notes below:
          textarea#comments.form-control(rows='3')
        div.d-flex.justify-content-center.flex-wrap
          button#submit.btn.btn-primary.mb-3.mr-3.flex-shrink-0(type='submit') Add to your cart
          button#checkout.btn.btn-primary.mb-3.flex-shrink-0(type='submit') Add to your cart & Checkout
    
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous")
    script(src='./script.js')